<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <%- include("Includes/link.ejs"); %>
       <link rel="icon" type="image/x-icon" href="/library.ico">
       <style>
        div{
            margin-left: 20px;
            margin-right: 20px;
            transition:2ms ease-in-out;
        }
       </style>
</head>
<body class="bg-light" align="center">
    <h1>About us</h1>
    <div class="container-fluid">
    <div class="card shadow border-100 " style="padding:20px; ">
       <pre> 
        <span style="font-style:italic; font-size: medium;">Our cummunity </span> is the very large
         and scalable for maintaining Different and large Users.
         We provide high and inhanced security features for secure users data. 
         We practice to provide easy to Understand , Structured and adaptable UI.
         Our Users our responsibility.
    </pre>
         </div>
    <div class="card shadow border-100 " style="position: relative; margin:50px;">
       <pre> 
        <h3>
            For any Sugesion
            provide your review 
            to us your each review
            will very helpful for 
            us and we will take as 
            a chance of improvement.</h3>
    </pre>
         </div>
    </div>
        
        </body>
</html>